## Aggregation - Has a Relationship

In [15]:
class Deepak:
    def __init__(self,name,age,university):
        self.name = name
        self.age = age
        self.university = university

    def print_details(self):
        print("Name is",self.name)
        print("University name is",self.university.university_name,'and rank is',self.university.rank,'and fee is',self.university.fee)

class University:
    def __init__(self,university_name,fee,rank):
        self.university_name = university_name
        self.fee = fee
        self.rank = rank

In [17]:
uni = University("Comsats University Islamabad",10000,90)
deepak = Deepak('Deepak',19,uni)
deepak.print_details()

Name is Deepak
University name is Comsats University Islamabad and rank is 90 and fee is 10000